*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Decompiled output folders
*decompiled*/

# APK files
*.apk

# Extracted APK folders
WeatherProvider_8.1.2/
天气_8.1.2/
