*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Decompiled output folders
*decompiled*/

# APK files
*.apk

# Release 构建产物目录
/app/release/

# Extracted APK folders
WeatherProvider_8.1.2/
天气_8.1.2/
